---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to Home page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
      excepturi repudiandae vitae modi eius odit sapiente reprehenderit!
      Accusamus laboriosam ab ex? Magnam eligendi reprehenderit dolor! Corporis
      quibusdam sequi deserunt ex laudantium alias ea tempora nihil, expedita
      aspernatur veniam, eos natus.
    </p>
    <a href="/login">My page</a>
  </body>
</html>
